h1= place_name
p= address
img(src=img_src alt=img_title)
<div class="review-icon-container">
<img src="../images/parking_icon.svg" alt="handicap parking icon" class="review-icon"/>
<img src="../images/enter_exit_icon.svg" alt="enter and exit icon"/>
<img src="../images/customer_service_icon.svg" alt="customer service icon" class="review-icon"/>
<img src="../images/interior_navigation.svg" alt="interior navigation icon" class="review-icon"/>
<img src="../images/bathroom_icon.svg" alt="handicap bathroom icon" class="review-icon"/>
<img src="../images/service_dog_icon.svg" alt="service dog paw icon" class="review-icon"/>
</div>