
for place in places
	- var lat = place.geometry.location.lat;
	- var lng = place.geometry.location.lng;
	- var reviewed = place.reviewIcon
	div(id=place.place_id class='result-container')
		if reviewed
			img(src='../images/reviewed_icon.svg' alt='accessable review exists icon' class='reviewed-icon')
		h2(class='place-name js-place-name')= place.name
		p= place.formatted_address
		img(src= staticURL + lat + ',' + lng, alt=img_title class='results-map')



