* { 
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #0B0A07;
  background-color: #39004d;
}

/** Main / Landing View **/
main {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #39004d;
  color: #EAF555;
}

main img {
  width: 225px;
  height: 225px;
}

main h1 {
  width: 90%;
  margin: 10px auto;
  border-bottom: 1px solid #EAF555;
  font-size: 3.5rem; 
}

main h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 1rem;
}

main p {
  width: 400px;
  margin: 20px auto 0px auto;
  padding-top: 5px;
  color: white;
  border-top: 1px solid white;
}


/** Google Autocomplete **/

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  display: block;
  background-color: #fff;
  border: 3px solid #CCDAD1;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin: 30px auto 20px auto;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 90%;
}

#pac-input:focus {
  border: 5px solid white;
  outline: none !important;
  box-shadow: 0 0 10px 10px #eaf555;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

/* LOGIN MODAL */

.nav--login-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%;
  max-width: 400px;
  background-color: #c6741f;
  padding-bottom: 10px;
  z-index: 1;
}

.nav--login-modal h2 {
  text-align: center;
}

.login-input, .registration-input {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-input label {
  margin-top: 10px;
  margin-bottom: 0px;
}

.login-input input {
  margin-top: 0px;
  padding: 5px 3px;
}

.login-buttons {
  margin: 10px 0;
}

.login-buttons button, .button--new-user, .nav--registration-modal button, .js-login-to-review, .js-review-submit {
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid #0B0A07;
  color: #0B0A07;
}

.login-buttons button:hover, .button--new-user:hover, .nav--registration-modal button:hover, .js-login-to-review:hover, .js-review-submit:hover {
  background-color: #eaf555;
}

.nav--login-modal .button--login-submit, .nav--registration-modal .button--login-submit {
  margin-right: 10px;
  background-color: #39004d;
  border: 1px solid white;
  color: white;
}

.button--new-user {
  margin-left: 10px;
}

/* REGISTRATION MODAL */

.nav--registration-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%;
  max-width: 400px;
  background-color: #1FC6BE;
  color: #0B0A07;
  text-align: center;
  padding-bottom: 10px;
  z-index: 1;
}

.nav--registration-modal > label, input {
  margin-top: 10px;
}

.registration-input {
  padding-right: 10px;
}

.registration-input label {
  padding-left: 10px;
  padding-right: 2px;
  margin-top: 10px;
  margin-bottom: 0;
}

.registration-input input {
  margin-top: 0;
  padding: 5px 3px;
}

.register-new-user {
  margin-top: 15px;
}

/* NAV LINKS */

nav {
  background-color: #39004d;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-left: 5px;
}

.nav-link {
  display: inline-block;
  cursor: pointer;
  border-top: 1px solid #EAF555;
  width: 300px;
  margin-right: 10px;
  color: #fff;
}

.nav-link:hover {
  border-top: none;
  border-bottom: 1px solid #EAF555;
}

.nav--login-span {
  font-size: 1.2rem;
}

.nav--logout {
  display: none;
  font-size: 1.2rem;
}

.nav--welcome {
  margin-left: .8rem;
  color: #EAF555;
}

/* RESULTS display */

.fa-spin-container {
  position:fixed;
  width: 100%;
  height: 100%;
  padding:0;
  margin:0;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2rem;
}

.search-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  margin: 20px auto 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.result-container p {
  margin-bottom: 5px;
  z-index: 1;
  font-size: .8rem;
}

.search-results {
    background: white; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(180deg, #39004d, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #39004d, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #39004d, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #39004d, white);
}

.reviewed-icon {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 0;
}

.staticImg {
  display: block;
}

.results-map {
  border: 2px solid white;
  border-radius: 4px;
}

.place-name {
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 1.25rem;
}

/* Single Result View */
.js-single-result {
  width: 100%;
}

.single-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.single-result h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  color: white;
}

.js-single-result p {
  margin-bottom: 10px;
  color: white;
}

.js-single-result h4 {
  margin: 50px 0px 10px 0px;
  color: white;
}

.recent-reviews {
  background-color: white;
  padding: 10px;
}

.recent-reviews ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.recent-reviews li {
  display: block;
  width: 300px;
  text-align: left;
  margin: 10px 0px;
  padding: 15px;
}

.fa-quote-left {
  margin-right: 10px;
  font-size: 1.5rem;
}

.fa-quote-right {
  margin-left: 10px;
  font-size: 1.5rem;
}

.review-icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 20px 0px;
  background-color: white;
}

.review-icon-single {
  padding: 5px 10px;
}

.review-icon-single p {
  margin: 0;
  color: #8c00c2;
  font-size: 1.2rem;
  border-top: 1px solid #39004d;
  letter-spacing: .3em;
}

.js-login-to-review {
  margin: 20px 0px;
}

.js-login-to-review:hover {
  background-color: #8c00c2;
  color: white;
  border: 1px solid white;
}


/* QUESTIONNAIRE */
.review-questionnaire {
  width: 90%;
  margin: 50px auto;
  padding: 10px;
  color: black;
  background-color: white;
}

.review-questionnaire h2, .review-questionnaire p {
  margin-bottom: 10px;
}

.review-questionnaire fieldset {
  margin: 0px 10px 20px 10px;
  width: 90%;
  padding-bottom: 10px;
}

.review-answers {
  border: 2px dashed #8c00c2;
  text-align: center;
}

.review-answers legend {
  color: #8c00c2;
  background-color: white;
}

.questionnaire-icon {
  margin: 10px auto;
}

.questionnaire-radios li {
  list-style-type: none;
  display: block;
}

.questionnaire-radios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;

}

.answer-button {
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #8c00c2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-true:hover  {
  background-color: #eaf555;
}

.review-false:hover {
  background-color: #1FC6BE;
}

.answer-button label {
  cursor: pointer;
}

.js-review-submit {
  margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    transition: bottom 0.5s ease-in-out;
    width: 100%;
    height: 35px;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #EAF555;
    color: black;
    text-align: center;
    padding: 0px 5px;
}

footer a {
    color: #39004d;
}

footer img {
  display: block;
  width: 30px;
  height: 30px;
}

.accessible {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.accessible p {
  width: 135px;
}

.by-line {
  width: 135px;
  padding: 0px 10px;
}

.footer-down {
  bottom: -35px;
}

.footer-up {
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Tablets (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1223px) {
  #pac-input {
    width: 75%;
  }

  .reviewed-icon {
    top: 3px;
    right: 3px;
  }
}

/* Desktop and laptops */
@media only screen  and (min-width : 1224px) {
  body, html {
    padding-bottom: 60px;
  }

  main {
    text-align: right;
    padding: 30px 75px 100px 0px;
  }

  main h1 {
    font-size: 5rem;
  }

  main h2 {
    font-size: 1.5rem;
    margin-right: 63px;
  }
  
  main p {
    text-align: left;
    margin: 20px 0px 0px 50px;
    font-size: 1.2rem;
  }

  main img {
    width: 300px;
    margin-right: 30px;
  }

  .login-buttons button, .button--new-user, .nav--registration-modal button, .js-login-to-review {
    font-size: .8rem;
  }
  .fa-spin-container {
    font-size: 1.5rem;
  }
  .js-single-result h4 {
    font-size: 1.2rem;
  }

  .result-container p {
    font-size: 1rem;
  }

  #pac-input {
    width: 450px;
    margin: 50px 0px 50px 50px;
    font-size: 18px;
  }

  .nav--login-modal, .nav--registration-modal {
    top: 30px;
    left:  100px;
    width: 500px;
  }

  #username-log {
  margin-right: 10px;
  }

  .registration-input {
  padding-right: 10px;
  }

  .registration-input label {
    padding-left: 10px;
    padding-right: 2px;
  }

  .registration-input input {
    padding: 5px 3px;
  }

  .register-new-user {
    margin-top: 15px;
  }

  .fa-spin-container {
    font-size: 1.3rem;
  }

  .review-answers legend {
  font-size: 1.5rem;
  }

  .reviewed-icon {
    top: 5px;
    right: 5px;
  } 

  .questionnaire-radios {
    width: 300px;
    height: 300px;
    margin: 10px auto;
  }
  .recent-reviews li {
    width: 500px;
  }

  footer {
    height: 60px;
    font-size: 1rem;
  }

  footer img {
    display: block;
    width: 50px;
    height: 50px;
}

  .by-line, .accessible p {
    width: 200px;
    font-size: 1.2rem;
  }

  .footer-down {
  bottom: -60px;
  }

.footer-up {
  bottom: 0px;
  }
}












